#shapesCollection {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 50%;
}
.clearFix:after {
    content:"";
    clear:both;
    display:block;
}
.objButton {
  float: right;
  height: auto;
}

.alphaSlide {
  float: right;
  height: auto;
  width: 100px;
}
.colorList {
  float: right;
  height: auto;
}
#shapesCollection li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  font-size: 1em;
  background-color: purple;
}
#shapesCollection span {
  position: absolute;
  margin-left: -1.3em;
}

#shapesCollection ul {
  margin-top: 3px;
}

#error {
  color: #FF0000;
}

#currentInstructions {
  color: #0000FF;
}

.selected {
  background-color: green;
}
