#shapesCollection {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 30%;
}
.objButton {
  float: right;
  height: auto;
  bottom: 8px;
}
#shapesCollection li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  font-size: 1em;
  height: 10px;
}
#shapesCollection span {
  position: absolute;
  margin-left: -1.3em;
}

.shapeSelected {
  background-color: 'red';
}
#error {
  color: #FF0000;
}

#currentInstructions {
  color: #0000FF;
}
